.loading-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  animation: breathing 1s ease-out infinite normal;
}

.loading-img {
  width: 100px;
}

.loading-home {
  font-size: 24px;
  font-weight: 700;
  font-family: "system-ui", sans-serif;
  color: azure;
}

.chat-list-container {
  display: flex;
}

.home-message-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

.home-message-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.home-message-img {
  width: 120px;
}

.home-message {
  font-size: 24px;
  font-weight: 700;
  font-family: "system-ui", sans-serif;
  color: dodgerblue;
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 768px) {
  .chat-list-container {
    display: block;
  }
  .home-message-container {
    display: none;
  }
}
