.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
}

.loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  animation: breathing 1s ease-out infinite normal;
}

.loading-img {
  width: 100px;
}

.loading-message {
  font-size: 24px;
  font-weight: 700;
  font-family: "system-ui", sans-serif;
  color: lightblue;
}

@keyframes breathing {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}
