.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-left: 16px;

  background-color: dodgerblue;
}

.topbar-title {
  font-family: "system-ui", sans-serif;
  font-size: 36px;
  color: white;
}

.topbar-options {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  fill: white;
}

.topbar-add-contact,
.topbar-menu {
  width: 32px;
  cursor: pointer;
}
