.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-left: 16px;

  background-color: dodgerblue;
}

.topbar-header-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.topbar-title {
  font-family: "system-ui", sans-serif;
  font-size: 26px;
  color: white;
}

.topbar-header-right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  fill: white;
}

.topbar-add-contact {
  background-image: url("/new-contact.svg");
  background-position: center;
  background-size: cover;
  border: none;
  background-color: transparent;
}

.topbar-add-contact,
.topbar-menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .topbar-back-icon {
    display: none;
  }
}
