.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-left: 16px;
  border-right: 1px solid azure;
  background-color: dodgerblue;
}

.topbar-header-left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.topbar-title {
  font-family: "system-ui", sans-serif;
  font-size: 26px;
  color: white;
}

.topbar-header-right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  fill: white;
}
.menu-icon-wrapper,
.addcontact-icon-wrapper {
  background-color: transparent;
  border: none;
}

.addcontact-icon,
.menu-icon {
  font-size: 36px;
  color: azure;
  cursor: pointer;
  outline: none;
}

.tooltip {
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .topbar {
    border-right: none;
  }
  .topbar-back-icon {
    display: none;
  }
}
