.messages-container {
  display: flex;
  background-color: azure;
}

.messages-sidebar {
  width: 100%;
  max-width: 555px;
}

.loading-content {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-text {
  color: dodgerblue;
}

.loading-content p {
  font-size: 24px;
  font-family: "system-ui", sans-serif;
}

.loaded-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message-topbar {
  padding: 16px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  background-color: dodgerblue;
}

.topbar-contact-name {
  color: white;
  font-family: "system-ui", sans-serif;
  font-size: 28px;
}

.message-wrapper {
  max-width: 100px;
  padding: 8px 16px;
  font-family: "system-ui", sans-serif;
  border: 3px solid azure;
  border-radius: 24px;
  background-color: azure;
}

.back-icon {
  font-size: 32px;
  color: azure;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .messages-sidebar {
    display: none;
  }

  .message-topbar {
    padding: 4px;
  }

  .back-icon {
    display: block;
  }
}
