.contact-sidebar {
  flex: 0 0 30%;
  max-width: 555px;
  height: 100dvh;
  border-right: 1px solid gray;
}

@media screen and (max-width: 768px) {
  .contact-sidebar {
    border-right: none;
    max-width: 100%;
  }
}
