.conversation-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  background-color: #becfdfff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: scroll;
}

.messages-list::-webkit-scrollbar {
  display: none;
}

.conversation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
}

.message-pill {
  width: 100%;
  max-width: 154px;
  padding: 8px 12px;
  font-family: "system-ui", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: azure;
  border-radius: 24px;
  color: dimgray;
  word-break: break-word;
}

.send-by-me {
  align-items: end;
}

.send-by-me .message-pill {
  background-color: dodgerblue;
  color: azure;
}

.message-content {
  max-width: 90%;
  font-size: 14px;
}

.message-timestamp {
  vertical-align: baseline;
  font-size: 12px;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .conversation-container {
    height: calc(100vh - 60px);
  }
}
