.searchbar {
  width: 100%;
  max-width: 98%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 24px auto 36px;
  border: 1px solid dodgerblue;
  border-radius: 34px;
  background-color: azure;
}

.searchbar label {
  width: 100%;
  display: flex;
  align-items: center;
  border: none;
}

.search-icon {
  font-size: 24px;
  color: gray;
}

.searchbar-input {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border-radius: 34px;
  border: none;
  outline: none;
  background: transparent;
  color: gray;
  font-size: 16px;
}

.searchbar-input::placeholder {
  font-size: 14px;
}
